.body{
    width: 500px;
    height: auto;
    background-color:red;

}
.contacto{
    background-color: darkgray;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}